.row{

}
div{
    background-color: #a1b5cb;
    text-align: center;
}
#nombre{
    font-weight: bold;
    margin-top: 40%;
}
@media (min-width: 576px) {
    #foto{
        position: absolute;
        width: 10%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px green;
        left: 5%;
        top: 690px;
    }
}@media (max-width: 575px) {
    #foto{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px green;
        left: 35%;
        top: 950px;
    }
}